@font-face {
  font-family: 'midFont';
  src:  url('fonts/midFont.eot?1fnczq');
  src:  url('fonts/midFont.eot?1fnczq#iefix') format('embedded-opentype'),
    url('fonts/midFont.ttf?1fnczq') format('truetype'),
    url('fonts/midFont.woff?1fnczq') format('woff'),
    url('fonts/midFont.svg?1fnczq#midFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="midFont-"], [class*=" midFont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'midFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.midFont-search:before {
  content: "\e900";
}
.midFont-tornado:before {
  content: "\e901";
}
.midFont-tornado1:before {
  content: "\e902";
}
.midFont-lightning:before {
  content: "\e903";
}
.midFont-file-key:before {
  content: "\e904";
}
.midFont-file-key1:before {
  content: "\e905";
}
.midFont-cog1:before {
  content: "\e906";
}
.midFont-satellite:before {
  content: "\e907";
}
.midFont-key:before {
  content: "\e908";
}
.midFont-bomb:before {
  content: "\e909";
}
.midFont-lightning1:before {
  content: "\e90a";
}
.midFont-atom:before {
  content: "\e90b";
}
.midFont-expand:before {
  content: "\e90c";
}
.midFont-eyedropper:before {
  content: "\e90d";
}
.midFont-enlarge:before {
  content: "\e989";
}
.midFont-wrench:before {
  content: "\e991";
}
.midFont-equalizer:before {
  content: "\e992";
}
.midFont-equalizer2:before {
  content: "\e993";
}
.midFont-cog:before {
  content: "\e994";
}
.midFont-cogs:before {
  content: "\e995";
}
.midFont-magic-wand:before {
  content: "\e997";
}
.midFont-fire:before {
  content: "\e9a9";
}
.midFont-power:before {
  content: "\e9b5";
}
.midFont-eye:before {
  content: "\e9ce";
}
.midFont-eye-plus:before {
  content: "\e9cf";
}
.midFont-eye-minus:before {
  content: "\e9d0";
}
.midFont-eye-blocked:before {
  content: "\e9d1";
}
.midFont-warning:before {
  content: "\ea07";
}
.midFont-info:before {
  content: "\ea0c";
}
.midFont-cancel-circle:before {
  content: "\ea0d";
}
.midFont-blocked:before {
  content: "\ea0e";
}
.midFont-cross:before {
  content: "\ea0f";
}
.midFont-play2:before {
  content: "\ea15";
}
.midFont-pause:before {
  content: "\ea16";
}
.midFont-stop:before {
  content: "\ea17";
}
.midFont-previous:before {
  content: "\ea18";
}
.midFont-next:before {
  content: "\ea19";
}
.midFont-loop2:before {
  content: "\ea2e";
}
.midFont-arrow-up:before {
  content: "\ea32";
}
.midFont-arrow-right:before {
  content: "\ea34";
}
.midFont-arrow-down:before {
  content: "\ea36";
}
.midFont-arrow-left:before {
  content: "\ea38";
}
.midFont-arrow-up2:before {
  content: "\ea3a";
}
.midFont-arrow-right2:before {
  content: "\ea3c";
}
.midFont-arrow-down2:before {
  content: "\ea3e";
}
.midFont-arrow-left2:before {
  content: "\ea40";
}
.midFont-shift:before {
  content: "\ea4f";
}
.midFont-crop:before {
  content: "\ea57";
}
.midFont-terminal:before {
  content: "\ea81";
}
.midFont-clear:before {
  content: "\e90e";
}
.midFont-save:before {
  content: "\e90f";
}
.midFont-keyboard_arrow_down:before {
  content: "\e910";
}
.midFont-keyboard_arrow_left:before {
  content: "\e911";
}
.midFont-keyboard_arrow_right:before {
  content: "\e912";
}
.midFont-keyboard_arrow_up:before {
  content: "\e913";
}
.midFont-power_input:before {
  content: "\e914";
}
.midFont-dehaze:before {
  content: "\e915";
}
.midFont-arrow_drop_down:before {
  content: "\e916";
}
.midFont-arrow_drop_up:before {
  content: "\e917";
}
.midFont-cancel:before {
  content: "\e918";
}
.midFont-menu:before {
  content: "\e919";
}
.midFont-arrow_left:before {
  content: "\e91a";
}
.midFont-arrow_right:before {
  content: "\e91b";
}
.midFont-power_settings_new:before {
  content: "\e91c";
}
.midFont-search1:before {
  content: "\e91d";
}
.midFont-fingerprint:before {
  content: "\e91e";
}
.midFont-drive_file_rename_outline:before {
  content: "\e91f";
}
.midFont-close_fullscreen:before {
  content: "\e920";
}
.midFont-cloud-lightning:before {
  content: "\e921";
}
.midFont-pen-tool:before {
  content: "\e922";
}
.midFont-save1:before {
  content: "\e923";
}
.midFont-key-outline:before {
  content: "\e924";
}
.midFont-save2:before {
  content: "\e925";
}
.midFont-cross1:before {
  content: "\e926";
}
.midFont-power-plug:before {
  content: "\e927";
}
.midFont-key1:before {
  content: "\e928";
}
.midFont-save-disk:before {
  content: "\e929";
}
